* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

body {
  font-family: 'Roboto', sans-serif;
}

.deliveryFormData {
  display: flex;
  gap: 0.5rem;
}

.deliveryFormData.inactive {
  display: none;
}

.deliveryFormData.active{
  display: flex;
}